html,body {
	height: 100%;
}
body{
	overflow-x: hidden;
	background-image:url(/img/wall1.jpg);
	background-attachment: local;
}

.my-login-page .brand {
	background-color: #453066;
	width: 110px;
	height: 110px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 444;
	top:4em;
}
.logo{
	margin:15%;
	transform: rotate(12deg);
}
.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow:  2px 8px rgba(39, 38, 38, 0.26);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

.wave-container {
	background: white;
	overflow: hidden;
	width:100%;
	height: 100%;
  }
  .wave-container > svg {
	display: block;
	height: 100%;
  }
.uppere{
	z-index:3;
	position: absolute;
}
.rotate-img{
	margin-top:15%;
}
.card-register{
	position: relative;
	top:-50px;
}
.white{
	color:white;
}
.arrow{
	min-height: 43rem;
}
.upper{
	z-index:3;
	position: absolute;
	background-color:#453066;
	width: 100%;
	height: 21.5rem;
	transform: skewX(40deg);
}
.under{
	background-color:#453066;
	width: 100%;
	height: 21.5rem;
	transform: skewX(-40deg);
	margin-top: 21.5rem;
}
.welcomeView{
	position: relative;
	color:white;
	z-index: 80;
	width: 100%;
}
.we-header{
	position: absolute;
	top:-42rem;
	left:3.5rem;
}
.we-sm-img{
	position:absolute;
	top:-40rem;
}
.we-body{
	position: absolute;
	top:-27rem;
	left:10.9rem;
}
.we-carousel{
	position: absolute;
	top:-18rem;
	left:4.9rem;
	width: 100%;
}
.we-footer{
	position: absolute;
	top:-5rem;
	left:2.5rem;
}
#we-logo{
	position: relative;
	top:-7.6rem;
	left:16rem;
}
.carousel{
    margin-top: -50px;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    color: #fff;
    top: 50%;
  }
  .all-content-wrapper {
    margin-left: 240px;
    transition: all 0.3s;
}
.carousel-indicators{
	position: absolute;
	bottom:-4rem;
}
.we-icx{
	font-weight: 700;
	color:white;
	font-size:20px;
	margin-left: 5px;
	margin-right:5px;
}
.tw{
	color:dodgerblue;
}
.in{
	color: rgb(221, 96, 12);
}