#map {
    height: 725px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin-top:4%;
   }

   .menu-toggler {
    position: absolute;
    display: block;
    top: -21rem;
    bottom: 0;
    right: 8rem;
    margin:auto;
    width:60px;
    height:60px;
    z-index:4;
    opacity:0;
    cursor:pointer;
  }
  .fake-toggler {
    position: absolute;
    display: block;
    top: -21rem;
    bottom: 0;
    right: 7.5rem;
    margin:auto;
    width:60px;
    height:60px;
    background-color: #563d7c;
    border-radius:50%;
    cursor:pointer;
  }
  .menu-toggler:hover + label,
  .menu-toggler:hover + label:before,
  .menu-toggler:hover + label:after{
    background: white;
  }
  .menu-toggler:checked + label {
    background: transparent;
  }
  .menu-toggler:checked + label:before,
  .menu-toggler:checked + label:after{
    top:0;
    width:40px;
    transform-origin: 50% 50%;
  }
  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }
  .menu-toggler:checked ~ ul .menu-item { 
    opacity: 1;
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translate(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(5) {
    transform: rotate(240deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
    transform: rotate(300deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events:auto;
  }
  .menu-toggler + label {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 4;
    border-radius: 2.5px;
    background: #ffffff;
    transition: transform 0.5s top 0.5s;
    position: absolute;
    display: block;
    top: -21rem;
    bottom: 0;
    right: 8rem;
    margin: auto;
  }
  .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: white;
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  }
  .menu-item:nth-child(1) a {
    transform: rotate(0deg);
  }
  .menu-item:nth-child(2) a {
    transform: rotate(-60deg);
  }
  .menu-item:nth-child(3) a {
    transform: rotate(-120deg);
  }
  .menu-item:nth-child(4) a {
    transform: rotate(-180deg);
  }
  .menu-item:nth-child(5) a {
    transform: rotate(-240deg);
  }
  .menu-item:nth-child(6) a {
    transform: rotate(-300deg);
  }
  .menu-item {
    position: absolute;
    display: block;
    top: -21rem;
    bottom: 0;
    right: 8rem;
    margin: auto;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu-item .geolo {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background-color: #563d7c;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item .lock {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background-color: rgb(139, 125, 46);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item .stop {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background-color: rgb(139, 52, 46);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item .check {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background-color: seagreen;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item .restrict {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background-color: rgb(23, 76, 146);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item .plan {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 80px;
    color: white;
    background-color: rgb(122, 36, 129);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
  }
  .menu-item .geolo:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: #563d7c;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
    border:2px solid #563d7c;
  }
  .menu-item .lock:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: rgb(139, 125, 46);
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
    border:2px solid #8b7d2e;
  }
  .menu-item .stop:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: #8b342e;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
    border:2px solid #8b342e;
  }
  .menu-item .check:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: seagreen;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
    border:2px solid seagreen;
  }
  .menu-item .restrict:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: #174c92;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
    border:2px solid #174c92;
  }
  .menu-item .plan:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    color: #7a2481;
    background: rgba(255, 255, 255, 0.3);
    font-size: 44.44px;
    border:2px solid #7a2481;
  }

  .switch-vehicle{
    width:200px;
    height:200px;
    z-index:4;
    position: absolute;
    right: 2px;
    top:620px;
    background-image:  url('/img/switchcar.png');
    background-size: cover;
    border-radius: 0px;
    border-top-left-radius: 75%;
  }

